<form>
  <h1>Student Form</h1><br>

  <label>First Name:</label><br>
  <textarea id="first_name" name="student[first_name]"></textarea><br>


  <label>Last Name:</label><br>
  <textarea id="last_name" name="student[last_name]"></textarea><br>

  <input type="submit" value="Submit Student">
</form>

<%= params.inspect %>
